@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

body {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    height: 100vh;
    font-family: 'Fredoka', sans-serif;
}

h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

.banner {
    padding-top: 60px;
}

h3,
h2 {
    font-size: 28px;
    text-transform: capitalize;
}

@media (min-width: 320px) and (max-width: 575px) {
    h1 {
        font-size: 24px;
    }

    h2,
    h3 {
        font-size: 20px;
    }
}